/* GENERAL FONT */
body {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* PARAGRAPHS */
p {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}

/* LISTS */
ul {
  list-style-type: circle;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;

}

/* LOGO */
.logo {
  background-image: url("../img_subfolder/banner_space.png");
  background-size: cover;
  background-color: #f23d6a;
  padding: 20px;

}

/* NAVBAR BACKGROUND */
.bg-custom {
  background-color: #f23d6a;
}

/* NAV LINKS */
.navbar .nav-link {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 20px;
  color: white !important;
  text-align: center;
}

.navbar .nav-link:hover {
  color: #f3da5d !important;
}

/* background */
body {
  background-image: url("../img_subfolder/banner_space_VERTICAL.png");
  background-size: 550px;
  background-color: #ef96cd; /* side color */
  margin: 0;
}

main {
  background-color: #f7e3f3;
  max-width: 1100px;  
  margin: 0 auto;   
  padding: 20px 40px;  
  min-height: 100vh;
}

/* CAROUSEL */
#carouselExample {
  max-width: 800px; 
  margin: 0 auto;    /* centers carousel */
}

.carousel-img {
  height: 500px;
  object-fit: contain; /* shows full image without cropping */
  background-color: #ef96cd;
}

/* FOOTER */
.footer {
  background-color: white;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  text-align: center;
}

.footer i {
  font-size: 20px;
  margin: 0 10px;
}

.bi {
  color: #8bb976;
}

/* HEADINGS */
h1 {
  color: #8bb976;
  text-align: center;
}

h2 {
  color: #8bb976;
}

h3 {
  color: #f23d6a;
  padding-left: 0;
}

h4 {
  color: #8bb976;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h5 {
  color:#f23d6a;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h6 {
  color:#8bb976;
 font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: larger;
}
